.unorderedBodyLeft {
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #cbd5e1;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 8px;
}
.unorderedBodyRight {
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #cbd5e1;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 8px;
}
.body {
  display: flex;
  justify-content: space-between;
}
.listItemNavbar {
  list-style-type: none;
  margin: 8px;
}
.navHeading {
  color: #64748b;
  text-align: center;
  font-size: 18px;
}
.navItempara {
  color: #cbd5e1;
  color: #333333;
  text-align: center;
}
.contentContainer {
  background-color: #f1f5f9;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rightNavbarBoxes {
  border: 1px solid #64748b;
  display: flex;
  justify-content: center;
  padding: 8px;
  align-items: center;
  margin: 8px;
}
